name: Auto-merge

on:
  pull_request:
    branches:
      - 'release/**'
    paths:
      - 'apps/**'
    types:
      - opened

jobs:
  approve:
    name: Approve and merge
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Approve PR1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr review ${{ github.head_ref }} --approve

      - name: Approve PR2
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          gh pr review ${{ github.head_ref }} --approve

      - name: Merge release -> master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge ${{ github.head_ref }} --delete-branch --merge --auto
