on: workflow_dispatch

jobs:
  checkout-commit:
    name: "Commit new tag"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
#         with:
#           # Repository name with owner. For example, actions/checkout
#           # Default: ${{ github.repository }}
#           repository: 'isaranto/repo2'
#           ref: master
        
      
#       - name: Update Image Version in the related HelmChart values.yaml
#         uses: fjogeleit/yaml-update-action@master
#         with:
#           valueFile: 'config.yaml'
#           propertyPath: 'spec.image.tag'
#           value: ${{ github.event.inputs.version }}
#           branch: release/${{ github.event.inputs.version }}
#           repository: isaranto/repo2
#           targetBranch: master
#           createPR: 'true'
#           message: 'Update Image Version to ${{ github.event.inputs.version }}'
#           token: ${{ secrets.BOT_TOKEN }} 
      - name: Bump version in package.json
        run: |
          yarn version --patch --no-git-tag-version
          VERSION=$(jq -r .version package.json)
          echo "RELEASE_VERSION=$VERSION" >> $GITHUB_ENV
          
      - name: Create release branch
        run: |
          git checkout -b release/${{ env.RELEASE_VERSION }}
      
      - name: Commit changelog and manifest files
        id: make-commit
        run: |
          git add package.json
          git commit --message "Prepare release ${{ env.RELEASE_VERSION }}"
          echo "::set-output name=commit::$(git rev-parse HEAD)"
      
      - name: Push new branch
        run: git push origin release/${{ env.RELEASE_VERSION }}
      
      - name: Create pull request release -> master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          nl=$'\n'
          body="Hi @${{ github.actor }}! ${nl}This PR was created in response to a manual trigger of the release workflow here: \
          https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}. ${nl} \
          I've updated the tag in the config.yaml in this commit: ${{ steps.make-commit.outputs.commit }}. ${nl} \
          Merging this PR will deploy stuff :) "
          gh pr create --title "Release ${{ env.RELEASE_VERSION }} release -> master" --body "$body" --label gitflow --base master --head release/${{ env.RELEASE_VERSION }}

      
      #       - name: Approve PR
#         env:
#           GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
#         run: |
#           gh pr review release/${{ github.event.inputs.version }} --approve
      
#       - name: Merge release -> master
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         run: |
#           gh pr merge release/${{ github.event.inputs.version }} --delete-branch --merge
      
      
